---
http_interactions:
- request:
    method: get
    uri: http://api.aprs.fi/api/get?apikey=88918.o95YwnfbiYjR15F&format=json&name=N3BBQ-9&what=loc
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      Last-Modified:
      - Thu, 16 Jun 2016 22:52:30 GMT
    body:
      encoding: ASCII-8BIT
      string: '{"command":"get","result":"ok","what":"loc","found":1,"entries":[{"class":"a","name":"N3BBQ-9","type":"l","time":"1466117509","lasttime":"1466117509","lat":"35.88417","lng":"-106.16333","altitude":1724,"course":235,"speed":87.044,"symbol":"\/k","srccall":"N3BBQ-9","dstcall":"SUUSPU","mice_msg":"111","path":"TESQUE*,WIDE2-1,qAR,N3XKB-1"}]}'
  recorded_at: Thu, 16 Jun 2016 22:52:30 GMT
- request:
    method: get
    uri: http://maps.googleapis.com/maps/api/geocode/json?language=en&latlng=35.88417,-106.16333&sensor=false
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: |
        {
           "results" : [
              {
                 "address_components" : [
                    {
                       "long_name" : "New Mexico 502",
                       "short_name" : "NM-502",
                       "types" : [ "route" ]
                    },
                    {
                       "long_name" : "Santa Fe",
                       "short_name" : "Santa Fe",
                       "types" : [ "locality", "political" ]
                    },
                    {
                       "long_name" : "Santa Fe County",
                       "short_name" : "Santa Fe County",
                       "types" : [ "administrative_area_level_2", "political" ]
                    },
                    {
                       "long_name" : "New Mexico",
                       "short_name" : "NM",
                       "types" : [ "administrative_area_level_1", "political" ]
                    },
                    {
                       "long_name" : "United States",
                       "short_name" : "US",
                       "types" : [ "country", "political" ]
                    },
                    {
                       "long_name" : "87506",
                       "short_name" : "87506",
                       "types" : [ "postal_code" ]
                    }
                 ],
                 "formatted_address" : "NM-502, Santa Fe, NM 87506, USA",
                 "geometry" : {
                    "bounds" : {
                       "northeast" : {
                          "lat" : 35.8850025,
                          "lng" : -106.160432
                       },
                       "southwest" : {
                          "lat" : 35.8838917,
                          "lng" : -106.1636261
                       }
                    },
                    "location" : {
                       "lat" : 35.884763,
                       "lng" : -106.1621962
                    },
                    "location_type" : "GEOMETRIC_CENTER",
                    "viewport" : {
                       "northeast" : {
                          "lat" : 35.8857960802915,
                          "lng" : -106.160432
                       },
                       "southwest" : {
                          "lat" : 35.8830981197085,
                          "lng" : -106.1636261
                       }
                    }
                 },
                 "place_id" : "ChIJJ0Mm7nwVGIcRSFDTqXB_OtE",
                 "types" : [ "route" ]
              },
              {
                 "address_components" : [
                    {
                       "long_name" : "87506",
                       "short_name" : "87506",
                       "types" : [ "postal_code" ]
                    },
                    {
                       "long_name" : "Santa Fe",
                       "short_name" : "Santa Fe",
                       "types" : [ "locality[...]
